@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Patient's Medical Records Page";
}
@model IEnumerable<MVCiHealth.Models.V_RESERVATION>

<div class="panel-heading">
    <img src="~/Resources/Images/Patient/pic.JPG" alt="Loading..." class="img-thumbnail" />
</div>

<table class="table table-hover table-bordered table-condensed">
    <tr>
        <th>预约时间</th>
        <th>医生姓名</th>
        <th>科室</th>
        <th>预约状态</th>
        <th>评价</th>
        <th>预约详情</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TIME_START)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOCTOR_NM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SECTION_NM)
            </td>
            @{
                if (item.VALID == "F")
                {
                    <td>已失效</td>
                }
                else
                {
                    if (item.CONFIRMED == "T")
                    {
                        <td>已接受</td>
                    }
                    else
                    {
                        <td>未接受</td>
                    }
                }
            }
            <td>
                @{
                    if (item.EVALUATION_ID == null)
                    {
                        @Html.ActionLink("评价", "EditEvaluation", "Evaluate", new { doctor_id = item.DOCTOR_ID, reservation_id = item.RESERVATION_ID }, new { });
                    }
                    else
                    {
                        @Html.ActionLink("查看评价", "DetailEvaluation_PatientOne", new { reservation_id = item.RESERVATION_ID });
                    }
                }
            </td>
            <td>
                @Html.ActionLink("预约详情", "", "Reservation", new { patient_id = item.PATIENT_ID })
            </td>
        </tr>
    }
</table>