@using MVCiHealth.Models
@model IEnumerable<MVCiHealth.Models.V_EVALUATION>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Doctor Details Page";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-4">
        <img src="~/Resources/Images/Evaluate/doctor.png" alt="显示当前医生的照片" class="img-rounded">
        <input id="score" value="@(Model.First().LEVEL)" type="number" class="rating" readonly="readonly" data-size="xs">
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    医生评价详情页
                </h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="doctorName" class="col-xs-2 col-sm-2 control-label">医生姓名</label>
                        <label id="doctorName" class="col-xs-3 control-label">@(ViewData.Model.First().DOCTOR_NM)</label>
                    </div>
                    @foreach (var item in Model)
                    {
                        <div class="panel-heading">
                            <div class="panel-heading form-inline">
                                <label class="col-sm-2 control-label">@(item.PATIENT_NM)</label>
                                <label id="showAgreeTimes" type="button" class="btn col-xs-offset-10" onclick="addAgreeTimes()">
                                    <span class="glyphicon glyphicon-thumbs-up" aria-label="Left Align"></span>
                                    (@item.AGREETIMES)
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="detail" class="col-sm-2 control-label">评价详情</label>
                            <div class="panel-body">
                                @Html.DisplayFor(modelitem => item.DETAIL)
                            </div>
                        </div>
                    }
                </form>
                <div class="btn-group center-block">
                    <button type="button" class="btn btn-default" id="returnBt" onclick="location.href='/Doctor/Index'">返回</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        function addAgreeTimes() {
            $('#divvcode').removeClass('hidden');
        }
    </script>
}
