@using MVCiHealth.Models
@model DOCTOR_EVALUATION
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "EditEvaluate Page";
}
<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-4">
        <img src="~/Resources/Images/Evaluate/doctor.png" alt="显示当前医生的照片" class="img-rounded">
        <input id="score" value="@(ViewBag.LEVEL??0)" type="number" class="rating" readonly="readonly" data-size="xs">
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    医生评价
                </h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="doctorName" class="col-sm-2 control-label">医生姓名</label>
                        <label id="doctorName">@(ViewBag.DOCTOR_NM??"")</label>
                    </div>
                    <div class="form-group">
                        <label for="evaluateRate" class="col-sm-2 control-label">评价星级</label>
                        <input id="evaluateRate" value="@(Model.RATE)" type="number" class="rating" data-size="xs">
                    </div>
                    <div class="form-group">
                        <label for="evaluateDetail" class="col-sm-2 control-label">评价内容</label>
                        <textarea id="evaluateDetail" class="form-control" rows="5" readonly="readonly">@(Model.DETAIL)</textarea>
                    </div>
                </form>
                <div class="btn-group center-block">
                    <button type="submit" class="btn btn-default" id="submitBt">提交</button>
                    <button type="button" class="btn btn-danger" id="cancelBt">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
