@model IEnumerable<MVCiHealth.Models.V_DOCTORINFO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DOCTOR_NM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GENDER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AGE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TEL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PHOTO_URL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SECTION_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DISEASE_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INTRODUCTION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INSDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PATIENT_NM)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DOCTOR_NM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GENDER)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AGE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TEL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PHOTO_URL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SECTION_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DISEASE_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.INTRODUCTION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.INSDATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PATIENT_NM)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { did = item.DOCTOR_ID, pid = item.PATIENT_ID }) |
                @Html.ActionLink("Details", "Details", new { did = item.DOCTOR_ID, pid = item.PATIENT_ID }) |
                @Html.ActionLink("Delete", "Delete", new { did = item.DOCTOR_ID, pid = item.PATIENT_ID })
            </td>
        </tr>
    }

</table>
